Xft.dpi: 96
Xft.rgba: rgb
Xft.hinting: true
Xft.antialias: true
Xft.hintstyle: hintslight
!Xft.hintstyle: hintsfull
URxvt.borderLess: false
URxvt.scrollBar: false
URxvt.font: xft:CMU Typewriter Text:size=14:style=Light
!URxvt.font: xft:Linux Libertine Mono O:size=12
!URxvt.font: xft:Luxi Mono:size=12
URxvt.background: white
URxvt.foreground: black
URxvt.externalBorder: 0
URxvt.internalBorder: 0
!black,	!bright_black
!red,	!bright_red
!green,	!bright_green
!yellow,!bright_yellow
!blue,	!bright_blue
!magenta,!bright_magenta
!cyan,	!bright_cyan
!white,	!bright_white
*color0:  #222222
*color8:  #111111 
*color1:  #444444 
*color9:  #333333 
*color2:  #555555 
*color10: #444444
*color3:  #888888 
*color11: #777777
*color4:  #666666 
*color12: #555555
*color5:  #555555 
*color13: #444444
*color6:  #AAAAAA 
*color14: #04C6F5
*color7:  #EEEEEE 
*color15: #FFFFFF
