Xft.dpi: 96
Xft.rgba: rgb
Xft.hinting: true
Xft.antialias: true
Xft.hintstyle: hintslight
!Xft.hintstyle: hintsfull
URxvt.borderLess: false
URxvt.scrollBar: false
URxvt.font: xft:CMU Typewriter Text:size=14:style=Light
!URxvt.font: xft:Linux Libertine Mono O:size=12
!URxvt.font: xft:Luxi Mono:size=12
URxvt.background: white
URxvt.foreground: black
URxvt.externalBorder: 0
URxvt.internalBorder: 0
*color0:  #2E3436
*color1:  #A40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #CE5C00
*color7:  #BABDB9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #FCAF3E
*color15: #EEEEEC
